{% extends 'base.html' %}
{% block title %}Bosh sahifa{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-12">
            <h1 class="fw-bold">Bosh sahifa</h1>
            <p class="mb-4">Yozilgan barcha fikrlaringiz shu yerda saqlanadi.</p>
            {% if fikrs %}
                <div class="list-group list-group-flush">
                    {% for fikr in fikrs %}
                        <a href="{{ url_for('routes.read_fikr', id=fikr.id) }}" class="list-group-item list-group-item-action">{{ fikr.title }}</a>
                    {% endfor %}
                </div>
            {% else %}
                <p class="">Hozircha hech qanday fikr mavjud emas.</p>
            {% endif %}
        </div>
    </div>
{% endblock %}
