<nav class="navbar navbar-expand-lg bg-dark navbar-dark">
    <div class="container">
        <a href="{{ url_for('routes.index') }}" class="navbar-brand fw-bold">Fikrlog</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#menu-toggler">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="menu-toggler">
            <ul class="navbar-nav ms-auto">
                {% if not current_user.is_authenticated %}
                    <li class="nav-item">
                        <a href="#" class="nav-link">Haqida</a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ url_for('auth.login') }}" class="nav-link {% if request.endpoint == 'auth.login' %}active{% endif %}">Tizimga kirish</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a href="{{ url_for('routes.index') }}" class="nav-link {% if request.endpoint == 'routes.index' %}active{% endif %}">Bosh sahifa</a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ url_for('routes.create_fikr') }}" class="nav-link {% if request.endpoint == 'routes.create_fikr' %}active{% endif %}">Qoʻshish</a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ url_for('auth.logout') }}" class="nav-link">Chiqish</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
