{% extends 'base.html' %}
{% block title %}{{ fikr.title }}{% endblock %}

{% block content %}
<div class="row">
    <div class="col-12">
        <h1 class="fw-bold">{{ fikr.title }}</h1>
        <h6 class="mb-4 text-muted">
            {{ fikr.created_at.strftime('%d %B, %Y') }}
            {% if fikr.author %}
                &mdash; {{ fikr.author.username }}
            {% endif %}
        </h6>
        <p class="fs-5 mb-0">{{ fikr.content }}</p>
        <hr class="my-5">
        <a href="{{ url_for('routes.update_fikr', id=fikr.id) }}" class="btn btn-dark"><i class="bi bi-pencil-square"></i> Yanglish</a>
        <a href="{{ url_for('routes.delete_fikr', id=fikr.id) }}" class="btn btn-danger"><i class="bi bi-trash3"></i> Oʻchirish</a>
    </div>
</div>
{% endblock %}
